.SignupOne div label {
  font-size: 0.91em;
}

.SignupOne div input {
  font-size: 0.79em;
  box-shadow: 3px 3px 3px rgb(130, 130, 130);

}

.SignupOne small {
  font-size: 0.65em;
  color: rgb(245,28,28) !important;
  font-weight: 700;
  margin-bottom: 0 !important;

}

.SignupOne button {
  margin-top: 1em;
  font-size: 0.85em;
  width: 25%
}
