
.Counter {
  margin-top: 3em;
  width: 100%;
  border-radius: 5px;
  background: rgb(253, 235, 231);
  box-shadow: 7px 7px 7px rgb(130, 130, 130);
  height: 35em;
}


.ContriLists{
  background:rgb(240, 240, 240);
  width: 90%;
  margin: 0 auto;
  margin-top: .85em;
  height: 80%;
}

.ContriLists div{
  width: 95%;
  margin: 0 auto
}

.ContriLists div p{
  width: 80%;
  margin: 0.6em auto;
  font-size: 1.25em
}

.ContributionList{
  height: 85%;
  overflow: auto;
  padding: 1em;
}

.ContributionList ul li{
  margin-bottom: 0.1em;
  width: 90%;
  margin: 0 auto;
}

.ContributionList ul li:hover{
  cursor: pointer;
  background: rgb(230,230,230)
}

.ContributionList ul li p{
  width: 100%;
  height: 1em;
  margin: 0;
  font-size: 0.9em;
  padding: 0;
  padding-left: 3%;
  font-weight: 600;
}

.ContributionList ul li p span {
  width: 40%;
  float: right;
  padding-right: 3%;
}

.ContributionList ul li p span span:nth-child(1){
  width: 35%;
  text-align: right
}
.ContributionList ul li p span span:nth-child(2) {
  width: 65%;
  text-align: right;
}

.ContributionList ul li p span span i {
  font-size: 0.62em
}