
.LessonsTopic{
  height: 70%;
  margin: 2% 0;
  width: 100%;
  border: none
}

.LessonsTopic:hover{
  background: rgb(245,245,245);

}

.LessonsTopic h1 {
  width: 100%;
  height: 100%;
  margin-top: 25%;
  color: rgb(180,180,180);
  text-align: center
}
.LessonsTopic .page-header p{
  width: 80%;
  height: 100%;
  margin: 5px auto;
  /* background: blue; */
  color: rgb(180, 180, 180);
  text-align: center
}

.LessonsTopic h5{
  font-size: 1em
}

.LessonsTopic p {
  font-size: 0.85em
}

.LessonsTopic a {
  font-size: 0.9em
}