
.SignupOne{
  width: 50%;
  padding: 2.5em;
  background: rgb(253,235,231);
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgb(130, 130, 130)
}

.SignupOne h3{
  text-align: center
}

.SignupOne div label{
  font-size: 0.9em
}
.SignupOne div input {
  font-size: 0.9em;
  box-shadow: 3px 3px 3px rgb(130, 130, 130)
}

.SignupOne small{
  font-size: 0.7em
}
.SignupOne button {
  margin-top: 1em;
  font-size: 0.85em;
  width: 25%
}
